# Testing Notebook
## Author: Robert
## Date: December 30, 2020

Purpose of this notebook is to test the dice.py module and it's functionalities

In [1]:
## library imports 

import dice ## dice module 
import random ## for shuffling players 

from collections import defaultdict ## for storing results

### Dice creation and roll testing

In [2]:
def test_dice(num_rolls:int=10000)->float:
    """
    
        Function for testing dice output 
        
        Args:
            num_rolls (int): number of times die should be rolled
            
        Returns:
            float, average of the dice roll
    
    
    """
    
    
    ## initialize Dice object
    Dice = dice.Dice()
    
    ## list for storing rolls
    rolls = []
    
    ## roll dice num_rolls time
    for _ in range(num_rolls):
        rolls.append(Dice.roll()) ## append roll to rolls list
    
    
    ## return average
    return sum(rolls) / len(rolls)

## Expected ~3.5
print(test_dice())

3.4906

### Player creation

In [3]:
## testing initializing a player object 


## initialize a player object
player = dice.Player()

## testing that a player is out of a game when they're initialized
assert not player.isin, "Player is somehow already 'in' a game!"

## testing that a player starts with a score of 0 
assert player.get_score() == 0, "Player score is above 0 to start!"

### Getting into a game

In [4]:
## testing a player's ability to get into a game 

## initialize a player object
player = dice.Player()

## test that while a player is not in, thier score remains at 0 but afterwards their score should be equal to 300 or more 
while not player.isin:
    assert player.get_score() ==0, "Player isn't in the game, so their score should be 0"
    player.turn()
    
assert player.isin, "Player should be in the game "
assert player.get_score() >= 300, "Player is now 'in' the game and their score should be equal to or bigger than 300"


print(player.get_score())

350

### TurnBasedPlayer creation

In [5]:
## testing initializing a TurnBasedPlayer object


def test_turn_based_player_creation(num_turns:int=3)->None:
    
    """
        Function for testing number of minimum turns is set properly 
            Args:
                num_turns (int): number of turns
            Returns:
                None
    
    """
    
    turn_player = dice.TurnBasedPlayer(num_turns)
    assert turn_player.get_min_turns() == num_turns, "Number of turns doesn't match set values"
    
def test_getting_into_game(player):
    """
        Function for testing if a player object is properly getting into a game, improvement on previous notebook cell 
        
        Args:
            player (Player or it's children), Player object that is being tested, must have the turn method and the isin parameter and the get_score method 
        
        Returns:
            None
    
    """
    
    assert not player.isin, "Player is already in, please pass a player that is not in a game"
    
    while not player.isin:
        assert player.get_score() ==0, "Player isn't in the game, so their score should be 0"
        player.turn()
    
    assert player.isin, "Player should be in the game "
    assert player.get_score() >= 300, "Player is now 'in' the game and their score should be equal to or bigger than 300"

    print(''.join(["Testing ",player.__repr__()]))

test_turn_based_player_creation()

test_getting_into_game(dice.TurnBasedPlayer(3))
test_getting_into_game(dice.Player())
test_getting_into_game(dice.ScoreBasedPlayer(300))


## TODO add more testing for TurnBasedPlayer

Testing pid: 4 score: 350
Testing pid: 5 score: 400
Testing pid: 6 score: 300

### ScoreBasedPlayer creation

In [6]:
## TODO add more testing for ScoreBasedPlayer

### Game Creation

In [7]:
def test_regular_player_game(player,num_players:int=5,final_score:int=5000,return_game=False):
    """
    
        Test playing a game with the type of player passed to the game 
        
        Args:
            player (Player or children class): Instance of the class which is to be tested
            num_players (int): Number of players to play the game
            final_score (int): Final score of the game to be played 
            
        Returns:
            None
    
    
    """
    ## initiaize list of players
    
    if isinstance(player,(dice.TurnBasedPlayer)):
        players = [dice.TurnBasedPlayer(player.get_min_turns()) for _ in range(num_players)]
        
    elif isinstance(player,(dice.ScoreBasedPlayer)):
        players = [dice.ScoreBasedPlayer(player.get_min_score()) for _ in range(num_players)]
    
    elif isinstance(player,(dice.Player)):
        players = [dice.Player() for _ in range(num_players)]
    
    ## shuffle players
    random.shuffle(players)
    
    game = dice.Game(players=players,final_score=final_score)
    game.play()
    
    assert game.over, "Game should be over"
    assert game.winner.get_score() >= final_score, "Winner score should be over the final score of the game "
    
    assert type(game.winner) == type(player), "Winner doesn't match type"

    
    print(''.join(["Winner is ",game.winner.__repr__()]))
    
    if return_game:
        return game 
    
test_regular_player_game(dice.Player())
test_regular_player_game(dice.ScoreBasedPlayer(300))
test_regular_player_game(dice.TurnBasedPlayer(3))

Winner is pid: 12 score: 5000
Winner is pid: 17 score: 5200
Winner is pid: 22 score: 5050

### Player stats testing

In [8]:
## testing getting the stats for players

game = test_regular_player_game(dice.Player(),return_game=True) ## playing the game

player_one = game.players[0] ## selecting the first player
 
player_one.get_stats() ## displaying the stats

Winner is pid: 28 score: 5000

,PlayerID,TurnsTaken,TurnScores,CumulativeScore,PlayerStatus,RollsTaken
0,26,1,0,0,False,3
1,26,2,400,400,True,3
2,26,3,200,600,True,3
3,26,4,350,950,True,3
4,26,5,0,950,True,2
5,26,6,0,950,True,1
6,26,7,0,950,True,2
7,26,8,300,1250,True,3
8,26,9,0,1250,True,1
9,26,10,200,1450,True,3
10,26,11,0,1450,True,3
11,26,12,0,1450,True,1
12,26,13,0,1450,True,3
13,26,14,0,1450,True,2
14,26,15,0,1450,True,3
15,26,16,0,1450,True,2
16,26,17,500,1950,True,3
17,26,18,450,2400,True,3
18,26,19,250,2650,True,3
19,26,20,0,2650,True,3
20,26,21,550,3200,True,3
21,26,22,0,3200,True,3
22,26,23,0,3200,True,1
23,26,24,0,3200,True,1
24,26,25,300,3500,True,3
25,26,26,0,3500,True,1

In [9]:
## testing getting the stats for ScoreBasedPlayer

game = test_regular_player_game(dice.ScoreBasedPlayer(300),return_game=True) ## playing the game

player_one = game.players[0] ## selecting the first player

player_one.get_stats() ## displaying the stats

Winner is pid: 36 score: 5400

,PlayerID,TurnsTaken,TurnScores,CumulativeScore,PlayerStatus,RollsTaken
0,32,1,0,0,False,0
1,32,2,0,0,False,0
2,32,3,350,350,True,0
3,32,4,0,350,True,1
4,32,5,0,350,True,1
5,32,6,400,750,True,3
6,32,7,0,750,True,1
7,32,8,450,1200,True,3
8,32,9,0,1200,True,3
9,32,10,350,1550,True,3
10,32,11,0,1550,True,1
11,32,12,0,1550,True,2
12,32,13,0,1550,True,1
13,32,14,0,1550,True,3
14,32,15,0,1550,True,1
15,32,16,350,1900,True,3
16,32,17,0,1900,True,2
17,32,18,0,1900,True,1
18,32,19,0,1900,True,3
19,32,20,0,1900,True,1
20,32,21,350,2250,True,3
21,32,22,0,2250,True,3
22,32,23,0,2250,True,1
23,32,24,400,2650,True,3
24,32,25,0,2650,True,3

In [10]:
## testing getting stats for turn based players

game = test_regular_player_game(dice.TurnBasedPlayer(5),return_game=True) ## playing the game 

player_one = game.players[0] ## selecting the first player

player_one.get_stats() ## displaying the stats

Winner is pid: 41 score: 5200

,PlayerID,TurnsTaken,TurnScores,CumulativeScore,PlayerStatus,RollsTaken
0,38,1,300,300,True,0
1,38,2,800,1100,True,5
2,38,3,0,1100,True,1
3,38,4,0,1100,True,5
4,38,5,0,1100,True,3
5,38,6,0,1100,True,1
6,38,7,0,1100,True,2
7,38,8,0,1100,True,3
8,38,9,0,1100,True,3
9,38,10,0,1100,True,3
10,38,11,0,1100,True,1
11,38,12,0,1100,True,5
12,38,13,0,1100,True,2
13,38,14,0,1100,True,3
14,38,15,0,1100,True,2
15,38,16,0,1100,True,2
16,38,17,1350,2450,True,5
17,38,18,750,3200,True,5
18,38,19,0,3200,True,5
19,38,20,0,3200,True,5
20,38,21,0,3200,True,2
21,38,22,0,3200,True,1
22,38,23,0,3200,True,1

### Game stats testing

In [15]:
## changing display option of pandas 

import pandas as pd
pd.set_option("display.max_rows",None)

In [16]:
## testing getting stats for all players in a game 

game = test_regular_player_game(dice.TurnBasedPlayer(5),return_game=True) ## playing the game

game.get_player_stats() ## displaying the game stats

Winner is pid: 51 score: 5400

,CumulativeScore,PlayerID,PlayerStatus,RollsTaken,TurnScores,TurnsTaken
0,300,54,True,0,300,1
1,300,54,True,4,0,2
2,1000,54,True,5,700,3
3,1000,54,True,1,0,4
4,1000,54,True,3,0,5
5,1000,54,True,1,0,6
6,1000,54,True,3,0,7
7,1000,54,True,2,0,8
8,1000,54,True,2,0,9
9,1000,54,True,2,0,10
10,1000,54,True,1,0,11
11,1000,54,True,4,0,12
12,1000,54,True,4,0,13
13,1000,54,True,3,0,14
14,1750,54,True,5,750,15
15,1750,54,True,1,0,16
16,2300,54,True,5,550,17
17,2750,54,True,5,450,18
18,2750,54,True,1,0,19
19,2750,54,True,1,0,20
20,0,51,False,0,0,1
21,300,51,True,0,300,2
22,300,51,True,3,0,3
23,300,51,True,1,0,4
24,1300,51,True,5,1000,5
25,1850,51,True,5,550,6
26,2650,51,True,5,800,7
27,3150,51,True,5,500,8
28,3150,51,True,1,0,9
29,3150,51,True,2,0,10
30,4200,51,True,5,1050,11
31,4200,51,True,1,0,12
32,4200,51,True,5,0,13
33,4200,51,True,1,0,14
34,4750,51,True,5,550,15
35,4750,51,True,2,0,16
36,4750,51,True,5,0,17
37,4750,51,True,3,0,18
38,4750,51,True,5,0,19
39,5400,51,True,5,650,20
40,0,53,False,0,0,1
41,0,53,False,0,0,2
42,0,53,False,0,0,3
43,0,53,False,0,0,4
44,0,53,False,0,0,5
45,400,53,True,0,400,6
46,400,53,True,5,0,7
47,400,53,True,4,0,8
48,400,53,True,1,0,9
49,400,53,True,3,0,10
50,1250,53,True,5,850,11
51,1250,53,True,3,0,12
52,1250,53,True,1,0,13
53,1250,53,True,4,0,14
54,1250,53,True,2,0,15
55,1250,53,True,1,0,16
56,1250,53,True,1,0,17
57,1600,53,True,5,350,18
58,2250,53,True,5,650,19
59,0,50,False,0,0,1
60,500,50,True,0,500,2
61,1750,50,True,5,1250,3
62,2850,50,True,5,1100,4
63,2850,50,True,2,0,5
64,2850,50,True,5,0,6
65,2850,50,True,4,0,7
66,2850,50,True,1,0,8
67,2850,50,True,4,0,9
68,2850,50,True,3,0,10
69,2850,50,True,5,0,11
70,2850,50,True,2,0,12
71,2850,50,True,1,0,13
72,2850,50,True,1,0,14
73,2850,50,True,2,0,15
74,2850,50,True,1,0,16
75,2850,50,True,1,0,17
76,2850,50,True,1,0,18
77,2850,50,True,1,0,19
78,350,52,True,0,350,1
79,350,52,True,3,0,2
80,350,52,True,1,0,3
81,350,52,True,2,0,4
82,350,52,True,2,0,5
83,350,52,True,3,0,6
84,350,52,True,1,0,7
85,350,52,True,3,0,8
86,350,52,True,2,0,9
87,350,52,True,4,0,10
88,350,52,True,2,0,11
89,1000,52,True,5,650,12
90,1500,52,True,5,500,13
91,2600,52,True,5,1100,14
92,2600,52,True,3,0,15
93,2600,52,True,1,0,16
94,3300,52,True,5,700,17
95,3750,52,True,5,450,18
96,3750,52,True,5,0,19